/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC:wght@300;400;700&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #176f7d;
  --secondary-color: #0e3744;
  --accent1-color: #f5e172;
  --accent2-color: #e0d9c3;

  --heading-font: 'LXGW WenKai TC', Helvetica, sans-serif;
  --paragraph-font: 'Roboto Slab', Helvetica, sans-serif;

  --headline-color-on-white: #0e3744;
  --headline-color-on-color: #E0D9C3;
  --paragraph-color-on-white: #0e3744;
  --paragraph-color-on-color: #E0D9C3;
  --paragraph-background-color: #0e3744;
  --nav-link-color: #E0D9C3;
  --nav-background-color: #176f7d;
  --nav-hover-link-color: #E0D9C3;
  --nav-hover-background-color: #f5e172;

}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main,
section {
    text-align: center;  
}

nav a {
    color: var(--nav-link-color);
    padding: 35px;
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

.home-title {
    color: var(--headline-color-on-white);
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: var(--paragraph-color-on-white);
}

.book, .join {
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-color);
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover {
    background-color: var(--accent1-color);
    color: var(--paragraph-color-on-white);
}

#background {
    height: 725px;
    background-color: var(--accent2-color);
}

.msg {
    background-color: var(--accent1-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: #8b4513;
    font-family: var(--heading-font);
}

.msg p {
    color: var(--paragraph-color-on-white);
    padding-bottom: 15px;
}

footer {
    background-color: var(--secondary-color);
    color: var(--headline-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: var(--nav-link-color);
}

footer a:hover {
    color: var(--nav-hover-link-color);
}

body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: var(--paragraph-background-color);
}

.logo, .icon {
    width: 80px;
}

#hero-img {
    width: 100%;
}

nav a,
.book, .join,
footer a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid var(--primary-color);
}

main section img {
    box-sizing: border-box;
}


