/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f5f5f5;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

main {
    padding: 20px;
}

.hero {
    text-align: center;
    margin-bottom: 40px;
}

.hero-img {
    width: 100%;
    max-width: 300px;
    height: 500px;
    background-color: #ccc;
    margin: 20px auto;
}

.skills-projects {
    text-align: center;
    margin-bottom: 40px;
}

.skills-projects .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.skills-projects .box {
    background-color: #eee;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.skills-projects .more {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact input,
.contact textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #f5f5f5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #bbb;
}

.social-links a {
    margin-right: 10px;
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #fff;
}


/* Responsive Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    .hero-img {
        height: 150px;
    }

    .skills-projects .grid {
        grid-template-columns: 1fr 1fr;
    }
}


.cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .card-languages {
    background-image: url(../images/city-language-2.webp);
  }
  .card-tools {
    background-image: url(../images/tools.webp);
  }
  .card-architecture {
    background-image: url(../images/architecture.webp);
  }
  .card-practices {
    background-image: url(../images/lamp-and-books.webp);
  }
  .card-database {
    background-image: url(../images/database-tools.webp);
  }
  .card-observability {
    background-image: url(../images/screen-behind-glass.jpg);
  }

  .card {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }


.experience {
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
}

.timeline {
    position: relative;
    padding-left: 40px;
    border-left: 2px solid #ccc;
}

.timeline-item {
    margin-bottom: 40px;
    position: relative;
}

.timeline-item .date {
    font-weight: bold;
    color: #555;
    margin-bottom: 10px;
}

.timeline-item .content {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeline-item .content h2 {
    font-size: 1.2rem;
    margin: 0 0 10px;
    color: #333;
}

.timeline-item .content p {
    margin: 0 0 10px;
    color: #666;
}

.timeline-item .technologies span {
    display: inline-block;
    background: #007BFF;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 0.9rem;
}

.timeline-item .technologies span:last-child {
    margin-right: 0;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #007BFF;
    border: 2px solid white;
    border-radius: 50%;
}

  @media (max-width: 700px) {
    .card {
      width: 100%;
    }
  }
  @media (min-width: 700px) {
    .card {
      max-width: 320px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .card:nth-child(even) {
      margin-right: 0;
    }
  }
  @media (min-width: 980px) {
    .card:nth-child(even) {
      margin-right: 20px;
    }
    .card:nth-child(3n) {
      margin-right: 0;
    }
  }
  .card span {
    display: block;
  }
  .card .card-summary {
    padding: 5% 5% 3% 5%;
  }
  .card .card-header {
    position: relative;
    height: 175px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
  }
  .card .card-header:hover, .card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
  }
  .card .card-title {
    background: rgba(157, 187, 63, 0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
  }
  .card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: 0.78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    -moz-transition-property: max-height;
    -o-transition-property: max-height;
    -webkit-transition-property: max-height;
    transition-property: max-height;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
  }
  .card:hover, .card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  }
  .card:hover .card-title, .card:focus .card-title {
    background: rgba(157, 187, 63, 0.95);
  }
  .card:hover .card-meta, .card:focus .card-meta {
    max-height: 1em;
  }

  @media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-section {
        margin-bottom: 20px;
    }

    .social-links a {
        display: block;
        margin-bottom: 5px;
    }
}
